/* Global accents, theme agnostic */
:root {
  --negative: #da4453;
  --neutral: #f67400;
  --positive: #27ae60;
  --accent: #305aee;
}

/* BEGIN Section Formatting */
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow-y: auto-fit;
}

h1,
h2 {
  line-height: 1.15em;
}

h2 {
  margin-left: 8px;
}

br {
  margin-bottom: 1.15em;
}

.tooltip {
  text-align: center;
  color: var(--inactive);
  font-size: 10pt;
}

.title-bar {
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  background: var(--background-light);
}

/* Website layout */
.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 82vh;
  margin-top: 8px;
  grid-template-areas:
    "top right"
    "bottom right"
    "footer footer";
  gap: 8px;
}

.upper-left-column,
.right-column,
.lower-left-column {
  padding: 8px;
  border-radius: 5px;
  background: var(--background-light);
  min-height: 200px;
}

.upper-left-column {
  grid-area: top;
}

.right-column {
  grid-area: right;
}

.lower-left-column {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  padding: 8px;
  grid-area: footer;
}

.form-area {
  padding: 8px;
  border-radius: 5px;
  background: var(--background);
  border: 2px solid var(--button);
  min-width: 325px;
  max-width: 375px;
}

.fill-height {
  flex-grow: 1;
}

.scroll-y {
  scroll-behavior: smooth;
  overflow-y: auto;
}

/* END */

/* BEGIN Input handling */
#number-input {
  width: 5em;
  float: right;
  margin-left: 4px;
}

/* Visual indicator of improper input */
@keyframes wiggle-jiggle {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }
}

input {
  background-color: var(--background);
  border: 1px solid var(--button);
  border-radius: 5px;
  transition: border 200ms ease;
  font-family: inherit;
}

input:hover {
  border-color: var(--accent);
}

input:focus {
  border-color: var(--accent);
  outline-color: var(--accent);
  outline: 1px solid var(--accent);
}

input:invalid {
  outline-color: var(--negative);
  border-color: var(--negative);
}

input:invalid + span::after {
  content: "✖";
  padding-left: 5px;
  color: var(--negative);
  float: right;
  animation: wiggle-jiggle 200ms ease-in-out;
}

input:invalid {
  animation: wiggle-jiggle 200ms ease-in-out;
}

input:valid + span::after {
  content: "✓";
  padding-left: 5px;
  color: var(--positive);
  float: right;
}

#button:hover {
  cursor: pointer;
}

#button:focus {
  background-color: var(--accent);
  color: var(--highlight);
  border-color: var(--accent);
}
/* END */

/* BEGIN Colour theming */
.theme {
  color-scheme: dark;
  background: #232323;
  --background: #232323;
  --background-light: #323232;
  --button: #646464;
  color: #fbfbfd;
  --color: #fbfbfd;
  --inactive: #a0a0a0;
  --highlight: #ffffff;
}

/* Changes theme to light if the browser is set to light mode */
@media (prefers-color-scheme: light) {
  .theme.adaptive {
    color-scheme: light;
    background: #feffff;
    --background: #feffff;
    --background-light: #eeeff0;
    --button: #dddfe1;
    color: #232323;
    --color: #232323;
    --inactive: #787878;
    --highlight: #ffffff;
  }
}
/* END */

/* BEGIN Catch Phone users */
@media (orientation: portrait) and (max-width: 777px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    gap: 8px;
  }

  .upper-left-column,
  .lower-left-column {
    width: 100%;
  }

  .right-column {
    order: 1;
    margin-right: -16px;
  }

  .upper-left-column {
    order: 3;
    height: 240px;
  }

  .lower-left-column {
    order: 2;
  }

  .footer {
    order: 4;
  }
  body {
    overflow-y: unset;
  }
}
/* END */

/* BEGIN Catch Tablet users */
